* {
  font-family: 'Red Hat Display', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: hsl(225, 100%, 94%);
  background-image: url("./assets/pattern-background-desktop.svg");
  color: hsl(223, 47%, 23%);
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 300px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}

#hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#icon {
  height: 50px;
}

.summary {
text-align: center;
  padding: 1rem;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
}

.annual {
  margin: 0;
}

h4 {
  margin: 0;
}

.btn-group {
  display: flex-wrap;
  flex-direction: row;
  margin-left: .5rem;
}

button {
  border: none;
  margin: 1rem;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  width: 250px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.payment {
  background-color: hsl(245, 75%, 52%);
  color: white;
}

.payment:hover {
  background-color: hsl(225, 100%, 94%);
  color: hsl(223, 47%, 23%);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}


.cancel {
  background-color: white;
  color: hsl(223, 47%, 23%);
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: hsl(225, 100%, 94%);
  }
} */